.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h1 {
  margin-bottom: 20;
  text-align: center;
}

.inputBox {
  margin-bottom: 20px;
}

.inputBox p {
  margin-bottom: 5px;
  font-weight: bold;
}

.inputBox input[type="text"],
.inputBox textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputBox textarea {
  resize: vertical;
}

.inputBox input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.inputBox input[type="submit"]:hover {
  background-color: #0056b3;
}
