#exercise-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    columns:  auto 25% 75%;
    gap: 20px;
    padding: 20px;
    background-color:black;
    margin-top: 40px;
    margin-bottom: 23px;
    margin-left: 40px;
    margin-right: 40px;
    
}

.exercise {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: #f9f9f9;
}

.exercise h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.exercise p {
    margin-bottom: 5px;
}

.exercise img {
    max-width: 100%;
    border-radius: 5px;
    margin: 10px 0;
}

.exercise h3 {
    margin-top: 10px;
    font-size: 16px;
}

.exercise ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.exercise li {
    margin-bottom: 5px;
}
